extends layout

mixin admin-card(url, text)
    a(href=url)
        div.card.text-center
            div.card.bg-primary.text-white
                div.card-body 
                    h4 #{text} 
    br


block content
    div.container
        +admin-card('/users/register/', "Create User")
        +admin-card("/clients/create", "Create Client")
