extends layout
block content
    h1 Login
    form(method="POST" action="/users/login")
        div.form-group
            label(for='email') Email:
            input#email.form-control(required type='email', placeholder='Email' name='email')
        div.form-group
            label(for='password') Password:
            input#password.form-control(required type='password', placeholder='Password' name='password')
        button.btn.btn-primary(type='submit') Login
 
    hr
    h5 
        For Testing:
        ul
            li email: 
                strong johndoe@vertistest.com, 
                | password: 
                strong johndoe
            li email: 
                strong admin@vertistest.com, 
                | password: 
                strong admin
