mixin comment-list(comments)
    if (!comments || comments.length == 0)
        h5.text-center No Comments
    else
        ul.list-group-flush
            for c in comments.reverse()
                +comment-item(c)

mixin comment-item(c)
    - console.log(c);
    li.list-group-item
        h6
            strong #{c.comment}
        p.text-muted #{c.firstname} #{c.lastname}
            br
            em #{c.timestamp}

