mixin navbar()
    if session.userid
        if session.admin
            +admin-nav()
        else
            +user-nav()
    else
        +regular-nav()


mixin user-nav()
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='#') 
            h3 TimeSheet
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon

        div.collapse.navbar-collapse#navbarSupportedContent
            ul.nav.navbar-nav.navbar-right
                li.nav-item
                    a.nav-link(href='/users/logout') Logout

mixin admin-nav()
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='/') 
            h3 TimeSheet
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon

        div.collapse.navbar-collapse#navbarSupportedContent
            ul.nav.navbar-nav.navbar-right
                li.nav-item
                    a.nav-link(href='/users/logout') Logout

mixin regular-nav() 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        a.navbar-brand(href='#') 
            h3 TimeSheet

